[*]
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.sln]
indent_style = tab

[*.{md,json,yml,config,csproj,vbproj,fsproj,slnx}]
indent_size = 2

[*.{csproj,fsproj,vbproj}]
charset = utf-8-bom
