name: Build

on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.fsi"
      - "**/*.fs"
      - "**/*.fsproj"
      - "**/*.sln"
      - "**/*.slnx"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore projects
        run: |
          dotnet restore confole --ignore-failed-sources
          dotnet restore confole.sharp --ignore-failed-sources
          dotnet restore confole.templates --ignore-failed-sources

      - name: Build projects
        run: |
          dotnet build confole --no-restore --configuration Release
          dotnet build confole.sharp --no-restore --configuration Release
          dotnet build confole.templates --no-restore --configuration Release

      - name: Pack projects
        run: |
          dotnet pack confole --no-build --configuration Release
          dotnet pack confole.sharp --no-build --configuration Release
          dotnet pack confole.templates --no-build --configuration Release
