name: Test

on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.fsi"
      - "**/*.fs"
      - "**/*.fsproj"
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.sln"
      - "**/*.slnx"

      - "!**/dev/**"
      - "!**/templates/**"
      - "!**/examples/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore projects
        run: |
          dotnet restore confole --ignore-failed-sources
          dotnet restore confole.sharp --ignore-failed-sources
          dotnet restore test/confole.test --ignore-failed-sources
          dotnet restore test/confole.sharp.test --ignore-failed-sources

      - name: Build projects
        run: |
          dotnet build confole --no-restore --configuration Release
          dotnet build confole.sharp --no-restore --configuration Release
          dotnet build test/confole.test --no-restore --configuration Release
          dotnet build test/confole.sharp.test --no-restore --configuration Release

      - name: Test projects
        run: |
          dotnet test test/confole.test
          dotnet test test/confole.sharp.test
